[Desktop Entry]
Name=Start Kodi
Comment=Switch to Kodi Media Center
Exec=/home/${USER}/bin/app_switch.sh kodi
Icon=/home/${USER}/Pictures/icons/kodi.png
Terminal=false
Type=Application
Categories=AudioVideo;Video;Player;TV;
