[Unit]
Description=Kodi Media Center
After=network.target
Conflicts=retropie.service desktop.service

[Service]
User=${USER}
Group=${USER}
Type=simple
ExecStart=/usr/bin/kodi-standalone
Restart=on-abort
RestartSec=5

[Install]
WantedBy=multi-user.target
