[Unit]
Description=RetroPie Emulation Platform
After=network.target
Conflicts=kodi.service desktop.service

[Service]
User=tomas
Group=tomas
Type=simple
ExecStart=/opt/retropie/supplementary/emulationstation/emulationstation
Restart=on-abort
RestartSec=5

[Install]
WantedBy=multi-user.target
