[Desktop Entry]
Name=Start RetroPie
Comment=Switch to RetroPie Emulation Platform
Exec=/home/${USER}/bin/app_switch.sh retropie
Icon=/home/${USER}/Pictures/icons/retropie.png
Terminal=false
Type=Application
Categories=Game;
