[Desktop Entry]
Name=Start Kodi
Comment=Switch to Kodi Media Center
Exec=nohup sudo python3 ${DYS_RPI}/scripts/app_switch.py kodi >/dev/null 2>&1 &
Icon=${DYS_RPI}/media/kodi.png
Terminal=false
Type=Application
NoDisplay=false
Categories=AudioVideo;Video;Player;TV;
