[Desktop Entry]
Name=Start RetroPie
Comment=Switch to RetroPie Emulation Platform
Exec=nohup sudo python3 ${DYS_RPI}/scripts/app_switch.py retropie >/dev/null 2>&1 &
Icon=${DYS_RPI}/media/retropie.png
Terminal=false
Type=Application
NoDisplay=false
Categories=Game;
